<a href="https://colab.research.google.com/github/aurnam18/Additional-project/blob/master/Recommender_Systems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
#import all required libraries
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

Following command imports the dataset from the file you downloaded

In [27]:
dataset = pd.read_csv('top50.csv')

Let’s explore the data a little bit by checking the number of rows and columns in it.

In [28]:
dataset.shape

(50, 14)

It will give (50, 14) as output which means our dataset has 50 rows and 14 columns.

In [29]:
dataset.head()

   Unnamed: 0                       Track.Name  ... Speechiness. Popularity
0           1                         Senorita  ...            3         79
1           2                            China  ...            9         92
2           3    boyfriend (with Social House)  ...           46         85
3           4  Beautiful People (feat. Khalid)  ...           19         86
4           5      Goodbyes (Feat. Young Thug)  ...            7         94

[5 rows x 14 columns]

Track name: name of the track <br />
Artist name: name of the artist <br />
Genre: type of music

If you visualize the dataset, you will see that it has many extra info about the songs. We don’t need all of them. So, we choose track name, artist name, and genre column to use as our feature set(the so called “content” of the book).

In [33]:
features = ['Track.Name', 'Artist.Name', 'Genre']

Our next task is to create a function for combining the values of these columns into a single string.

In [34]:
def combine_features(row):
 return row['Track.Name']+' '+row['Artist.Name']+' '+row['Genre']

Now, we need to call this function over each row of our dataframe. But, before doing that, we need to clean and preprocess the data for our use. We will fill all the NaN values with blank string in the dataframe.

In [35]:
for feature in features:
    #filling all NaNs with blank string
    dataset[feature] = dataset[feature].fillna('') 
#applying combined_features() method over each rows of dataframe and storing the combined string in “combined_features” column
dataset['combined_features'] = dataset.apply(combine_features,axis=1)

**Get the count matrix**

Now that we have obtained the combined strings, we can now feed these strings to a CountVectorizer() object for getting the count matrix.

In [36]:
#creating new CountVectorizer() object
cv = CountVectorizer() 
#feeding combined strings(movie contents) to CountVectorizer() object
count_matrix = cv.fit_transform(dataset['combined_features'])

**The cosine similarity matrix**

At this point, 60% work is done. Now, we need to obtain the cosine similarity matrix from the count matrix.

In [10]:
cosine_sim = cosine_similarity(count_matrix)

**Helper Functions**

In [40]:
def get_title_from_index(index):
    return dataset[dataset.index == index]['Track.Name'].values[0]
def get_index_from_title(title):
    return dataset[dataset.title == title].index.tolist()[0]

**Complete the Model**

In [43]:
track_name = 'Senorita'
track_name_index = get_index_from_Track.Name(track_name)
#accessing the row corresponding to given movie to find all the similarity scores for that movie and then enumerating over it
similar_movies = list(enumerate(cosine_sim[track_name_index]))

NameError: ignored